@import '../../styles/variables.scss';

.main__button {
  position: relative;
  padding: 10px 20px;
  font-size: $ft__20;
  min-width: 120px;
  text-align: center;
  border-radius: 6px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color__gold;
  color: $color__gold;
  transition: $transition;
  box-shadow: inset 0px 0px 0px -3px #d19d54;
  font-weight: $ft__w__m;

  .button__icon {
    border: 12px solid transparent;
    border-left-color: $color__gold;
  }

  &:hover {
    color: $bg__color;
    box-shadow: inset 0px 0px 20px 60px #d19d54;
    .button__icon {
      border-left-color: $bg__color;
      animation: animate .4s linear infinite alternate;
    }
  }
}

@keyframes animate {
  to {
    transform: translateX(4px);
  }
}