//  Colors:=
$color__white: #FFF;
// $bg__color: #111111;
$bg__color: #0c0b10;
$border__color: #252525;
$color__gray: #9E9E9E;
$color__dark__gray: #7E7E7E;
$color__gold: #D19D54;
// $color__gold: #C89E5E;
$color__semi__gold: #EBB05C;
$color__white__gold: #EFD0A7;

// padding&margin:=
$padding__X: 40px;
$section__margin: 120px;

// transition:=
$transition: .3s ease-in-out;

// Fonts-size:=

$ft__16: 16px;
$ft__18: 18px;
$ft__20: 20px;
$ft__22: 22px;
$ft__24: 24px;
$ft__28: 28px;
$ft__32: 32px;
$ft__38: 38px;
$ft__42: 42px;
$ft__48: 48px;
$ft__90: 90px;


//  fonts-wegith:=

$ft__w__r: 400;
$ft__w__m: 500;
$ft__w__s: 600;
$ft__w__b: 700;
$ft__w__bb: 800;
